
test1_logpath = "log"	
test1_logger = test1_logpath + "/skynet.log"	// 引擎日志输出文件
test1_log_dailyrotate = true				// 是否按天切分日志
test1_loglevel = "debug"					// 日志级别: debug/trace/info/warn/fatal
test1_daemon = test1_logpath + "/skynet.pid"
test1_start = "app/main"					// 启动脚本

test1_start = "\
    文本，\
    文本\
"